.card{
    box-shadow: 5px 10px 10px grey;
}
.card-title{
    font-family: 'Alfa Slab One', cursive;
    color: #43210c;
}
.card-subtitle{
    font-family: 'Bebas Neue', cursive;
    color: #4b4b4b;
}
.card-body{
    color: rgb(0, 0, 0);
}
.card-footer{
    border: none;
    background-color: rgb(0, 0, 0, 0);
    text-align: center;
}
.btn-outline-danger{
    background-color: #df1c1c ;
    color: #fff;
    width: 80%;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #ff0019;
    border-color: #ff0019;
}
.btn-primary {
    color: #fff;
    background-color: #ff0019;
    border-color: #ff0019;
}
.btn-primary a{
    color: #ffff;
    text-decoration: none;
}
